body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin:0;
}
.hee{
  background-color:rgb(101, 238, 238);
  background-repeat: no-repeat;
  background-size: cover;
  
  
}
.mainheader{
  display:flex;
  justify-content: space-around;
  height:300px;
  padding:30px;
}
h1{  
  text-align: center;
}
h2{
  font-size: 40px;
}
p{
  text-align: center;
  font-size: 14px;

}
.menu{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:25px;
}
.menu button{
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
  padding:10px;
  border-radius: 20px;
  margin-right: 20px;
  width:150px;
  color:rgb(0, 0, 0);
  box-shadow: -8px 6px 89px -65px rgba(0,0,0,0.75);
}
.header{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:45%;
  margin:auto;
 
 
}
.header button{
  background-color: rgb(241, 79, 106);
  color:white;
  border: 1px solid rgb(199, 33, 60);
  padding:10px;
  width: 200px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: -8px 6px 89px -65px rgba(0,0,0,0.75);
}
.img{
  

}
.img img{
  width:400px;
}
.users{
  display: flex;
  justify-content: space-between;
  width:60%;
  margin:80px auto;

}
.users div{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grow{

 
  display:flex;
 
  align-items: center;
  background-repeat: no-repeat;
  justify-content: space-around;
  background-size: cover;
width:80%;
margin:40px auto;
box-shadow: -8px 6px 89px -65px rgba(0,0,0,0.75);
padding:30px;
 
}
.grow div img{
  width:400px;
}
.flow{
  display:flex;
  justify-content: space-around;
  align-items: center;
  width:80%;
  margin:0 auto;
  box-shadow: -8px 6px 89px -65px rgba(0,0,0,0.75);
  padding:30px;
}
.flow img{
  width:400px;
}
footer{
  background-color: rgb(2, 37, 61);
  margin-top: 150px;
  position: relative;
}
footer .footer{
padding:20px;
 height:250px;
 color:white;
 display: flex;
 align-items: center;
 justify-content: space-between;
 

}  
footer input{
  padding:10px;
}
footer button{
  background-color: rgb(197, 26, 55);
  color:white;
  padding:10px;
  border:none;
}
footer .fot1{
  display: flex;  flex-direction: column; width:30%; margin:20px
}
footer .fot2{
  width:30%; margin:35px
}

.ready{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:150px;
}
.ready button{
  background-color: rgb(206, 58, 83);
  border:1px solid rgb(170, 55, 75);
  padding:10px;
  width:250px;
  border-radius: 20px;
  color:white;
  cursor: pointer;
  box-shadow: 3px 2px 5px 2px rgba(0,0,0,0.75);
}
.your{
  display:flex;
  justify-content: space-around;
  align-items: center;
  width:80%;
  margin:50px auto;
  box-shadow: -8px 6px 89px -65px rgba(0,0,0,0.75);
  padding:30px;
}
.your img{
  width:400px;
}
.women{
  margin:190px auto;
  margin-bottom: 400px;
  width:80%;
  display: flex;
  box-shadow: -8px 6px 89px -65px rgba(0, 0, 0, 0.75);
  padding:35px;
}
.women .faq{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:25px;
}
.women .faq li{
  list-style: none;
  margin:10px;
}
.women img{
  margin-left:-85px;
}
.blog{
  width:60%;
 
  margin-left: auto;
  margin-right: auto;

  box-shadow: -8px 6px 89px -65px rgba(0,0,0,0.75);
  background-color: white;
  height:200px;
  border-radius:20px;
  margin-top: 50px;
  position: absolute;
  top:-200px;
  left:250px;
}
.blog1{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: -8px 6px 89px -65px rgba(0,0,0,0.75);
  
}
.blog1 button{
  background-color: rgb(241, 79, 106);
  color:white;
  border: 1px solid rgb(199, 33, 60);
  padding:10px;
  width: 200px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: -8px 6px 89px -65px rgba(0,0,0,0.75);
}
@media(max-width:500px){
  .mainheader{
    display:flex;
    flex-direction: column;
    height:700px;
  }
  .header{
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     
      width:80%;
      margin:40px auto;
  }
  .menu button{
      background-color: transparent;
      border: 1px solid rgb(255, 255, 255);
      padding:10px;
      border-radius: 20px;
      margin-right: 10px;
      width:100px;
      color:white;
  }
  .menu img{
    width:100px;
  }
  .your img{
    width:250px;
  }
  .grow div img{
    width:250px;
  }
  .header button{
      background-color: rgb(241, 79, 106);
      color:white;
      border: 1px solid rgb(199, 33, 60);
      padding:10px;
      width: 200px;
      border-radius: 20px;
      cursor: pointer;
      box-shadow: -8px 6px 89px -65px rgba(0,0,0,0.75);
  }
  .header{
    width:100%;
  }
  .users div{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:30px;
  }
  .img{
     
  }
  .img img{
      width:300px;
    
     
     
  }
  .grow{
     
      display:flex;
flex-direction: column;      
      align-items: center;
      background-repeat: no-repeat;
     
      background-size: cover;
    
     
  }
  .flow{
      display:flex;
      flex-direction: column-reverse;
      justify-content: space-around;
      align-items: center;
      width:80%;
      margin:0 auto;
  }
  .ready{
    width:90%;
    margin:auto;
  }
  .ready h1{
    font-size:20px;
  }
  .flow img{
    width:250px;
  }
  .your{
      display:flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      width:80%;
      margin:50px auto;
  }
  .users{
      display: flex;
      justify-content: space-between;
      width:20%;
      margin: 30px auto;
    align-items: center;
      flex-direction: column;
  
  }
  .blog{
    width:75%;
   
    margin-left: auto;
    margin-right: auto;
  
    box-shadow: -8px 6px 89px -65px rgba(0,0,0,0.75);
    background-color: white;
    height:150px;
    border:30px;
    margin-top: 50px;
    position: absolute;
    top:-150px;
    left:60px;
    margin-bottom: 300px;
  }
  .blog h1{
    font-size:20px;
  }
  
 footer .footer{
   height:800px;
   display: grid;
   grid-template-columns: auto;
 }
 .footer .fot1{
   width:40%;
   margin-top:58px;
 }
 .footer .fot2{
   width:40%;
   margin-top:-10px;
   margin-left:10px;
 }
 .footer .fot2 button{
   margin-top:20px;
   width:180px;
 }
 .women{
  margin:50px auto;
  width:80%;
  display: flex;
  flex-direction: column;
  box-shadow: -8px 6px 89px -65px rgba(0,0,0,0.75);
  margin-top:160px;
  margin-bottom: 300px;
}
 .women img{
   width:300px;
   margin-left:0px;
   margin-top:-120px;
 }
}